.emg-input {
  &--enlinea,
  &--enlinea-seamless {
    border: 0;
    border-radius: 0;
    outline: 0;
    box-shadow: none;
    padding: 5px 0;
    font-size: 12px;
    max-width: 100%;
    width: 100%;
    border-bottom: 1px solid hsl(0,0%,75%);
    transition: all .3s ease-in-out;
  }
  &--enlinea:focus,
  &--enlinea-seamless:focus {
    border-bottom: 1px solid hsl(0,80%,40%);
  }
  &--enlinea-seamless {
    border-bottom: 1px solid hsl(0,0%,95%);
  }
  &--centrado {
    text-align: center;
  }
}
